# PlanAhead Generated physical constraints 

net "COUNT_OUT[0]" loc = "D17";	#Led0 on DS3 LED
net "COUNT_OUT[1]" loc = "AB4";	#Led1 on DS4 LED
net "COUNT_OUT[2]" loc = "D21";	#Led2 on DS5 LED
net "COUNT_OUT[3]" loc = "W15";	#Led3 on DS6 LED
net "CLOCK" loc = “AB13";		#27MHz on-board user clock
net "DIRECTION" loc = "C18";	#Sw0 1 on S2 DIP switch

