################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/2021/Menkov A/lab1cuda/.vs/lab1cuda/v16
/2021/Menkov A/lab1cuda/x64/Debug
